

#container{
    display:grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows:repeat(4, 200px);
}
#container div{
    border:1pt black solid;
}

#container div:hover{
    background:lightgoldenrodyellow;
}
    
.on{
    background:black;
}
button{
    display:flex;
    width:100px;
    margin:auto;
    justify-content:center;
}
#buttonContainer{
    width:800px;
}