

#container{
    height:900px;
    width:900px;
    display:grid;
    grid-template-columns: repeat(var(--rowNum), var(--rowWidth));
    grid-template-rows:repeat(var(--rowNum), var(--rowWidth));
}
#container div{
    border:1px solid black;
}

#container div:hover{
    background:lightgoldenrodyellow;
}
    
.on{
    background:black;
}
button{
    display:flex;
    width:100px;
    margin:auto;
    justify-content:center;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
}
#buttonContainer{
    width:1000px;
}